## Pandas Hw
---
回答下列幾個問題

In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np

In [2]:
#引入data
url = 'https://storage.googleapis.com/py_ml_datasets/train.csv'
data = pd.read_csv(url)

### 這個資料的外觀（列數、欄數）

In [4]:
data.shape

(891, 12)

### 這個資料的各欄位名稱

In [5]:
data.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

### 各欄位的資料類型 & 這個資料的遺漏值狀況:
Age、Cabin、Embarked皆有遺漏值

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

### 計算從各港口登船的乘客人數

In [11]:
cnt = data.groupby('Embarked').size()
cnt

Embarked
C    168
Q     77
S    644
dtype: int64

### 計算男性與女性的存活人數

In [15]:
survive = data[data.Survived == 1]
survive.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [17]:
cnt_gender = survive.groupby('Sex').size()
cnt_gender

Sex
female    233
male      109
dtype: int64

### 計算男性與女性的存活比例

In [29]:
data[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean()

      Sex  Survived
0  female  0.742038
1    male  0.188908

### 計算 age 的中位數，並將遺漏的年紀以中位數填補

In [23]:
age1 = data.Age.fillna(data.Age.median())
print age1.median()

28.0