# 第一次提交
- 主要：直接刪除無法處理的類別變數（'Pclass','Sex', 'Embarked'）
- ACC= 0.76076

In [55]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm

In [29]:
#dataframe
df = pd.read_csv('train.csv',header=0)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [31]:
#delete 3 features
cols = ['Name','Ticket','Cabin']
df = df.drop(cols, axis =1)

In [32]:
dummies = []
cols =['Pclass','Sex', 'Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

In [33]:
titanic_dummies = pd.concat(dummies, axis =1)

In [34]:
df = pd.concat((df,titanic_dummies),axis =1)

In [35]:
df = df.drop(['Pclass','Sex', 'Embarked'], axis =1)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
1              891 non-null uint8
2              891 non-null uint8
3              891 non-null uint8
female         891 non-null uint8
male           891 non-null uint8
C              891 non-null uint8
Q              891 non-null uint8
S              891 non-null uint8
dtypes: float64(2), int64(4), uint8(8)
memory usage: 48.8 KB

In [37]:
df['Age'] = df['Age'].interpolate()

In [98]:
x = df.values
y =df['Survived'].values

In [99]:
x = np.delete(x,1,axis =1)

In [100]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.3, random_state = 0)

In [59]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth = 5)
clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.79104477611940294

In [61]:
clf.feature_importances_

array([ 0.07413897,  0.12669032,  0.05743406,  0.02186072,  0.05721831,
        0.03783151,  0.        ,  0.10597366,  0.50209245,  0.        ,
        0.        ,  0.        ,  0.01676001])

In [136]:
#Random-forest method
#Performs better
#Score = Accuracy
from sklearn import ensemble
forest = ensemble.RandomForestClassifier(n_estimators=100)
forest.fit(x_train, y_train)
forest.score(x_test, y_test)

0.81343283582089554

In [133]:
grad = ensemble.GradientBoostingClassifier()
grad.fit(x_train, y_train)
grad.score(x_test, y_test)

0.81343283582089554

In [101]:
grad = ensemble.GradientBoostingClassifier(n_estimators =50)
grad.fit(x_train, y_train)
grad.score(x_test, y_test)

0.83208955223880599

In [119]:
df1 = pd.read_csv('test.csv',header=0)

In [120]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 11 columns):
PassengerId    417 non-null int64
Pclass         417 non-null int64
Name           417 non-null object
Sex            417 non-null object
Age            331 non-null float64
SibSp          417 non-null int64
Parch          417 non-null int64
Ticket         417 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       417 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 35.9+ KB

In [121]:
#delete 3 features
cols1 = ['Name','Ticket','Cabin']
df1 = df1.drop(cols1, axis =1)

In [122]:
dummies1 = []
cols1 =['Pclass','Sex', 'Embarked']
for col1 in cols1:
    dummies1.append(pd.get_dummies(df1[col1]))

In [123]:
titanic_dummies1 = pd.concat(dummies1, axis =1)

In [124]:
df1 = pd.concat((df1,titanic_dummies1),axis =1)

In [125]:
df1 = df1.drop(['Pclass','Sex', 'Embarked'], axis =1)

In [129]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 13 columns):
PassengerId    417 non-null int64
Age            417 non-null float64
SibSp          417 non-null int64
Parch          417 non-null int64
Fare           417 non-null float64
1              417 non-null uint8
2              417 non-null uint8
3              417 non-null uint8
female         417 non-null uint8
male           417 non-null uint8
C              417 non-null uint8
Q              417 non-null uint8
S              417 non-null uint8
dtypes: float64(2), int64(3), uint8(8)
memory usage: 19.6 KB

In [127]:
df1['Age'] = df1['Age'].interpolate()

In [128]:
x_results = df1.values

In [130]:
x_results = df1[0:417].as_matrix()

In [137]:
y_results = forest.predict(x_results)

In [138]:
output = np.column_stack((x_results[:,0],y_results))
df_results = pd.DataFrame(output.astype('int'),columns=['PassengerID','Survived'])
df_results.to_csv('titanic_results.csv', index=False)